body {
    overflow-x: hidden;
}

#wrapper {
    min-height: 100vh;
}

/* Sidebar */
#sidebar-wrapper {
    width: 300px;
    min-height: 100vh;
    color: #fff;
    transition: margin 0.25s ease-out;
    background-image: url("/images/5630939.jpg");
    background-size: cover;
    background-position: center;
}

#sidebar-wrapper .sidebar-heading {
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 3px solid #fff;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li a {
    display: block;
    padding: 12px 20px;
    color: #ddd;
    text-decoration: none;
}

.sidebar-nav li a i {
    margin-right: 10px;
}

.sidebar-nav li a:hover {
    color: #fff;
}

/* Content */
#page-content-wrapper {
    flex: 1;
}

/* Toggle */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -260px;
}

.sidebar-link {
    background-color: transparent !important;
}

.sidebar-link:hover,
.sidebar-link:focus {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.sidebar-link.active {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
}
